


body{
 font-family: 'monsterrat';
 background-color:#000033;
}
h1, h2, h3, h4{
    font-family: 'monsterrat';
}

.gallery-width{
    margin: 5px;
    border: 1px solid #777;
    float: left; 
    width: auto;
    height: auto;
}
.gallery-high{
    margin: 5px;
    border: 1px solid #777;
    float: left; 
    width:auto;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
    display: block;
}