

@font-face {
    font-family: 'montserrat', sans-serif;
    src: url();
}
body{
 font-family: 'montserrat';
 color:white;
 background-color:#000033;
 
}
h1, h2, h3, h4{
    font-family: 'monsterrat', sans-serif;
    margin-left: auto;
    margin-right:auto;
    color: white;
}
h1{
    font-size: 6rem;
    
}
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
    display: block;
}  

.gallery{
    margin: 5px;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto; 
    width: 30%;
    height: 30%;
    

}
.description{
    text-align: auto; 
    color:  white; 
    font-size: 18px;
    padding: 10px; 
}

