

body{
 font-family: 'monsterrat';
}
.gallery{
    margin: 5px;
    border: 1px solid #777;
    float: left; 
    width: 720px;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
    display: block;
}